* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space {
    margin: 15px 0;
}

.center {
    text-align: center;
}

/*
Mobile first
Tablet: 768px
Desktop: 992px
Large Desktop:  1200px */

/* Header */

.top-bar{
    background-color: rgb(0, 151, 253);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.fa-solid.fa-bars {
    font-size: 30px;
}

/* Main */

.card-big {
    border-radius: 30px;
    margin: 20px 10px;
}

.phone{
    margin: 0 auto;
    width: 250px;
}

.blue {
    background-color: rgb(183, 222, 254);
}

/* Footer */

footer{
    color: white;
}

.bottom {
    text-align: center;
    padding: 20px;
}

.bottom.head > a,
.bottom.head > p > a {
    color: white;
}

.head{
    background-color: rgb(140, 135, 224);
}

#title-light {
    opacity: 0.5;
}

.orange {
    color: rgb(252, 192, 103);
    font-size: 50px;
}

.bottom.foot > a,
.bottom.foot > p > a {
    color: rgb(140, 135, 224);
}

.foot{
    background-color: rgb(45, 45, 45);
}

