* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 100%;
}

.card {
    border-radius: 30px;
    line-height: 30px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space {
    margin: 15px 15px;
}

.center {
    text-align: center;
}

.l-h { 
    line-height: 30px;
}

.white-txt {
    color: white;
}

.lilac-txt {
    color: #9792e4;
}

/*
Mobile first
Tablet: 768px
Desktop: 992px
Large Desktop:  1200px */

/* Header */

.top-bar{
    background-color: rgb(0, 151, 253);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.fa-solid.fa-bars {
    font-size: 30px;
}

.fa-solid {
    font-size: 70px;
    padding: 15px;
}

/* Main con icone */

.card-big {
    border-radius: 30px;
    margin: 20px 15px;
}

.card-big > p {
    padding: 15px;
    line-height: 30px;
}

.blue-txt {
    color: #0584fd;
    padding: 15px;
}

.phone{
    margin: 0 auto;
    width: 250px;
}

.blue {
    background-color: rgb(183, 222, 254);
}

.card > p {
    padding: 15px;
}

/* Main con loghi e ancora */

.purple-bg {
    background-color: #9593e6;
}

.planning1 {
    width: calc(100% - 30px);
    margin: 15px 15px;
}

.box-anchor {
    background-color: white;
    margin: 15px 20px;
    border-radius: 20px;
}

.planning2 {
    width: calc(100% - 40px);
}

.fa-solid.fa-arrow-down {
    margin-top: 40px;
    font-size: 25px;
    background-color: #9593e6;
    border-radius: 50%;
}

/* Main con testimonials */

.card > img {
    object-fit: contain;
}

/* Footer */

footer{
    color: white;
}

.bottom {
    text-align: center;
    padding: 20px;
}

.bottom.head > a,
.bottom.head > p > a {
    color: white;
}

.head{
    background-color: rgb(140, 135, 224);
}

#title-light {
    opacity: 0.5;
}

.orange {
    color: rgb(252, 192, 103);
    font-size: 50px;
}

.bottom.foot > a,
.bottom.foot > p > a {
    color: rgb(140, 135, 224);
}

.foot{
    background-color: rgb(45, 45, 45);
}

